x-environment: &environment
  USE_RABBITMQ: "true"
  USE_DEEPLAKE: "true"
  ENVIRONMENT: "local"
  POSTGRES_DATABASE: "${POSTGRES_DATABASE:-neohorizon}"
  POSTGRES_HOST: "${POSTGRES_HOST:-al-neohorizon-postgres}"
  POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-postgres}"
  POSTGRES_PORT: "${POSTGRES_PORT:-5432}"
  POSTGRES_USER: "${POSTGRES_USER:-postgres}"
  RABBITMQ_URL: "${RABBITMQ_URL:-amqp://neohorizon:neohorizon@al-neohorizon-rabbitmq:5672}"
  DEEPLAKE_ROOT_DIR: "${DEEPLAKE_ROOT_DIR:-/var/lib/deeplake}"
  AL_API_TOKEN: "${AL_API_TOKEN:?}"
  GEMINI_API_KEY: "${GEMINI_API_KEY}"
  OPENAI_API_KEY: "${OPENAI_API_KEY}"
  AUDIO_TEXT__EMBEDDING__INGESTION_URL: "${AUDIO_TEXT__EMBEDDING__INGESTION_URL:?}"
  AUDIO_TEXT__EMBEDDING__QUERY_URL: "${AUDIO_TEXT__EMBEDDING__QUERY_URL:?}"
  AUDIO_TEXT__MATRIX_OF_EMBEDDINGS__INGESTION_URL: "${AUDIO_TEXT__MATRIX_OF_EMBEDDINGS__INGESTION_URL:?}"
  AUDIO_TEXT__MATRIX_OF_EMBEDDINGS__QUERY_URL: "${AUDIO_TEXT__MATRIX_OF_EMBEDDINGS__QUERY_URL:?}"
  TEXT__EMBEDDING__INGESTION_URL: "${TEXT__EMBEDDING__INGESTION_URL:?}"
  TEXT__EMBEDDING__QUERY_URL: "${TEXT__EMBEDDING__QUERY_URL:?}"
  TEXT__MATRIX_OF_EMBEDDINGS__INGESTION_URL: "${TEXT__MATRIX_OF_EMBEDDINGS__INGESTION_URL:?}"
  TEXT__MATRIX_OF_EMBEDDINGS__QUERY_URL: "${TEXT__MATRIX_OF_EMBEDDINGS__QUERY_URL:?}"
  TEXT__SUMMARY_EMBEDDING__INGESTION_URL: "${TEXT__SUMMARY_EMBEDDING__INGESTION_URL:?}"
  TEXT__SUMMARY_EMBEDDING__QUERY_URL: "${TEXT__SUMMARY_EMBEDDING__QUERY_URL:?}"
  TEXT_IMAGE__EMBEDDING__INGESTION_URL: "${TEXT_IMAGE__EMBEDDING__INGESTION_URL:?}"
  TEXT_IMAGE__EMBEDDING__QUERY_URL: "${TEXT_IMAGE__EMBEDDING__QUERY_URL:?}"
  TEXT_IMAGE__MATRIX_OF_EMBEDDINGS__INGESTION_URL: "${TEXT_IMAGE__MATRIX_OF_EMBEDDINGS__INGESTION_URL:?}"
  TEXT_IMAGE__MATRIX_OF_EMBEDDINGS__QUERY_URL: "${TEXT_IMAGE__MATRIX_OF_EMBEDDINGS__QUERY_URL:?}"
  GOTENBERG_ENDPOINT: "${GOTENBERG_ENDPOINT:-http://al-neohorizon-gotenberg:3000}"
  AUTH_ISSUER: https://auth-${AL_HOSTNAME:?AL_HOSTNAME is required}/
  AUTH_AUDIENCE: auth.neohorizon.activeloop.ai
  AUTH0_DOMAIN: https://auth-${AL_HOSTNAME:?AL_HOSTNAME is required}
  AUTH0_AUDIENCE: auth.neohorizon.activeloop.ai
  CORS_ALLOW_ORIGINS: https://${AL_HOSTNAME}
  PORT: "8000"
  HOST: "0.0.0.0"
  MONGO_DB_URL: ${MONGO_DB_URL:-mongodb://${MONGO_INITDB_ROOT_USERNAME:-mongo}:${MONGO_INITDB_ROOT_USERNAME:-mongo}@al-neohorizon-mongo:27017/neohorizon?authSource=admin}
  # DEEPLAKE_CREDS: "${DEEPLAKE_CREDS}" // Fore more details refer to https://github.com/activeloopai/activeloop-self-hosted-resources?tab=readme-ov-file#deeplake-storage-credentials
  # Uncomment this if you want to use google application credentials
  # GOOGLE_APPLICATION_CREDENTIALS: "/creds/google-application-credentials.json"

x-shared-apps: &shared-apps
  restart: always
  depends_on:
    - change_vol_ownership
  networks:
    - al-neohorizon-network
  volumes:
    - al_neohorizon_deeplake_data:/var/lib/deeplake
  # Uncomment this if you want to use google application credentials
  # configs:
  #   - source: google-application-credentials
  #     target: /creds/google-application-credentials.json

x-shared-deps: &shared-deps
  restart: always
  networks:
    - al-neohorizon-network

services:
  change_vol_ownership:
    container_name: al-neohorizon-change-vol-ownership
    image: busybox
    command: chown -R 10001:10001 /var/lib/deeplake
    restart: "no"
    volumes:
      - al_neohorizon_deeplake_data:/var/lib/deeplake
  main-api:
    container_name: al-neohorizon-main-api
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - lightweight_service.py
    environment:
      <<: *environment
    <<: *shared-apps
  files-api:
    container_name: al-neohorizon-files-api
    image: quay.io/activeloopai/neohorizon-files:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - files_service.py
    environment:
      <<: *environment
    <<: *shared-apps
  nango-webhook-service:
    container_name: al-neohorizon-nango-webhook-service
    image: quay.io/activeloopai/neohorizon-nango:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - nango_webhook_service.py
    environment:
      <<: *environment
    <<: *shared-apps
  vector_search_worker:
    container_name: al-neohorizon-vector-search-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - vector_search_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  file_processor_worker:
    container_name: al-neohorizon-file-processor-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - file_processor_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  embedding_worker:
    container_name: al-neohorizon-embedding-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - embedding_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  summary_generation_worker:
    container_name: al-neohorizon-summary-generation-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - summary_generation_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  file_status_worker:
    container_name: al-neohorizon-file-status-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - file_status_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  skywell_worker:
    container_name: al-neohorizon-skywell-worker
    image: quay.io/activeloopai/neohorizon-main:${AL_IMAGE_TAG:-latest}
    entrypoint:
      - python3
      - skywell_worker.py
    environment:
      <<: *environment
    <<: *shared-apps
  auth:
    container_name: al-neohorizon-auth
    image: quay.io/activeloopai/neohorizon-auth:${AL_IMAGE_TAG:-latest}
    environment:
      POSTGRES_DB: "${POSTGRES_DB:-neohorizon}"
      <<: *environment
    <<: *shared-apps
  ui:
    container_name: al-neohorizon-ui
    image: quay.io/activeloopai/neohorizon-ui:${AL_IMAGE_TAG:-latest}
    <<: *shared-apps

  gotenberg:
    image: gotenberg/gotenberg:8
    container_name: al-neohorizon-gotenberg
    ports:
      - "127.0.0.1:3000:3000"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: al-neohorizon-rabbitmq
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"
    volumes:
      - al_neohorizon_rabbitmq_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=neohorizon
      - RABBITMQ_DEFAULT_PASS=neohorizon
    <<: *shared-deps

  postgres:
    image: postgres:17
    container_name: al-neohorizon-postgres
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - al_neohorizon_postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE:-neohorizon}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
    <<: *shared-deps

  redis:
   image: redis:7-alpine
   container_name: al-neohorizon-redis
   hostname: redis
   ports:
     - "127.0.0.1:6379:6379"
   entrypoint:
     - redis-server
   !!merge <<: *shared-deps

  mongo:
    image: mongo:8
    container_name: al-neohorizon-mongo
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - al_neohorizon_mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME:-mongo}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD:-mongo}
    <<: *shared-deps

  proxy:
    container_name: al-neohorizon-proxy
    image: nginx:latest
    depends_on:
      - main-api
      - files-api
      - nango-webhook-service
    ports:
      - "${LISTEN_HOST:-0.0.0.0}:${LISTEN_PORT:-80}:80"
    configs:
      - source: al-proxy-config
        target: /etc/nginx/conf.d/default.conf
    environment:
      AL_HOSTNAME: ${AL_HOSTNAME:?AL_HOSTNAME is rquired, it will be used for UI requests}
    <<: *shared-deps

networks:
  al-neohorizon-network:
    driver: bridge

volumes:
  al_neohorizon_rabbitmq_data:
    driver: local
  al_neohorizon_postgres_data:
    driver: local
  al_neohorizon_deeplake_data:
    driver: local
  al_neohorizon_mongo_data:
    driver: local

configs:
  # Uncomment this if you want to use google application credentials
  # google-application-credentials:
  #   content: |
  #     JSON_CONTENT_HERE
  al-proxy-config:
    content: |
      server {
        listen 80;
        server_name ${AL_HOSTNAME};
        location / {
          proxy_pass http://al-neohorizon-ui:80;
        }
      }
      server {
        listen 80;
        server_name auth-${AL_HOSTNAME};
        location / {
          proxy_pass http://al-neohorizon-auth:8000;
        }
      }
      server {
        client_max_body_size 512m;
        listen 80;
        server_name api-${AL_HOSTNAME};

        location / {
          proxy_pass http://al-neohorizon-main-api:8000;
        }

        location /files {
          proxy_pass http://al-neohorizon-files-api:8000;
        }

        location /nango/webhook {
          proxy_pass http://al-neohorizon-nango-webhook-service:8080;
        }

      }